<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/mentor-notifications">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mentor-curtrainings">Current Trainings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mentor-comptrainings">Completed Trainings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mentor-skills">Edit Skills</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8" style="background-color:lavenderblush;">
            <p>Welcome {{userName}} login in system!</p>
        </div>
    </div>
</div>