<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/admin-technologies">Technologies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-payments">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-parameters">Parameters</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8" style="background-color:lavenderblush;">
            <p>Welcome {{userName}} login in system!</p>
        </div>
    </div>
</div>